:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #1e90ff;
    --toggle-bg: #2c2c2c;
    --toggle-color: #000000;
  }
  
  [data-theme="dark"] {
    --bg-color: white;
    --text-color: black;
    --accent-color: #ff6347;
    --toggle-bg: #333333;
    --toggle-color: #c2c2c2;
  }

.Top-name {
    color: var(--text-color);
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.occ {
    font-size: 0.9rem;
    margin-top: 1%;
}

.Top-main {
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 5%;
    width: 25%;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
    font-size: 1.6rem;
    transition: transform 0.3s ease, color 0.3s ease;
}




.icon a {
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.resume a {
  color: white;
  text-decoration: none;
}

.resume a:hover {
  color: grey;
}

.icon:hover {
    transform: scale(1.3);
}

.icon a:hover {
    color: grey
}

.theme-toggle-button {
    background-color: var(--toggle-bg);
    color: var(--toggle-bg);
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }


@media (max-width: 630px) {
    .Top-name span {
        font-size: 1.5rem; /* Reduce font size for "Vansh Rastogi" */
    }

    .occ {
        font-size: 0.8rem; /* Adjust subtitle size */
    }

    .Top-main{
        justify-content: flex-start;
        position: relative;
    }

    .icons {
        gap: 5px; /* Reduce spacing between icons */
    }
}
